<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>UserPage</title>
</head>
<body>
<h1>User Page</h1>
<form th:action="@{/send}" method="POST">
    <p>Agent: </p> <p th:text="${name}"></p>
    <p>Kind: </p>
    <p><label>Submit new incident:</label></p>
    <p>Title: <input type="text" id="title" th:field="*{title}" /></p>
    <p>Description: <input type="text" id="message" th:field="*{message}" /></p>
    <p>Location: <input type="text" id="location" th:field="*{location}" /></p>
    <input type="submit" value="Notify Incident" />
</form>

<p>Review my incidents:</p>
<input type="submit" value="Review Incident" />
</body>
</html>